.sponsor-section {
    padding: 2rem 1rem; 
    text-align: center;
    overflow: hidden;
  }
  
  
  .sponsor-title {
    font-size: 2.5rem;
    color: #219ebc;
    font-weight: bold;
    margin-bottom: 4rem;
  }
  
  .marquee-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .marquee-content {
    display: flex;
    gap: 4rem;
    animation: scroll 20s linear infinite;
  }
  
  .sponsor-img {
    width: 100px;
    height: auto;
    flex-shrink: 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  