@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #ffffff;
	color: #333;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #a8d5e2;
	border-radius: 10px;
}

.perspective-1200px {
	perspective: 1200px;
}
